.btn-gold {
    background-color: gold;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-gold:hover {
    background-color: darkorange;
    color: black;
}

.btn-gold svg {
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-gold:hover svg {
    transform: translateY(-5px);
}

.like-container {
    cursor: pointer;
    margin: 4px;
    transition: color 0.3s ease;
}

.like-container.loved {
    color: red;
}

.modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

.modal-header .button-close {
    border: none;
    outline: none; /* Remove the outline when button gets focused */
    box-shadow: none; /* Remove the box-shadow */
}
.glowing-dot {
position: absolute;
top: 0;
right: 0;
transform: translate(50%, -50%);
}

.swal2-confirm {
cursor: pointer !important;
}

.glowing-dot::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 10px;
height: 10px;
background-color: red;
border-radius: 50%;
animation: glowing 1.5s infinite;
}

@keyframes glowing {
0% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
}
50% {
    width: 20px;
    height: 20px;
    opacity: 1;
}
100% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
}
}
/* Updated CSS for status label */
.status-label {
position: absolute;

top: -10px;
right: -10px;
z-index: 1;
}

.status-label .badge {
background-color: #3f3c3b; /* Change to the desired color */
color: white; /* Text color */
border-radius: 0;
padding: 5px 15px;
font-size: 14px;
}

/* Styling to resemble a price tag */
.status-label .badge:before {
content: "";
position: absolute;
top: 100%;
right: 0;
border: solid transparent;
border-width: 10px;
border-top-color: #373231; /* Match the badge color */
}

.status-label .badge:after {
content: "";
position: absolute;
top: calc(100% + 1px);
right: 0;
border: solid transparent;
border-width: 9px;
border-top-color: white; /* Match the background color */
}
.form-check-input.image-checkbox:checked + label::before {
    background-color: brown; /* Change this to the desired brown color */
    border-color: brown; /* Change this to the desired brown color */
}
.truncated-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#viewBtn, #editBtn, #deleteBtn {
    font-size: 0.75rem; /* Adjust the font size as needed */
    padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
}


/* Apply styles to pagination links and spans */
/* Styling pagination links and spans */
/* Pagination container */

