/* pricing.css */

/* Styling for the hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: black; /* Ganti dengan warna latar belakang yang diinginkan */
    color: white; /* Warna teks */
    padding: 50px; /* Spasi dalam hero-section */
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Styling for the text container */
.text-container {
    max-width: 35%; /* Lebar untuk teks */
    margin-left: 120px;
    background-color: black;
    background: linear-gradient();

}


/* Styling for the image container */
.image-container {
    position: relative;
    width: 625px; /* Set width as per your requirement */
    height: 725px; /* Set height as per your requirement */
    overflow: hidden;
    background-color: black;
    border-radius: 16px;
}

/* Styling for images */
.image {
    position: absolute;
    top: 0;
    right: 0; /* Menggeser gambar ke kanan */
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1); /* Perbaikan transisi */
}

/* Styling for active image */
.image.active {
    opacity: 1;
}
/* Styling for Unsplash-style list */
.unsplash-list {
    list-style-type: none; /* Menyembunyikan titik default */

    padding: 0;
}

.unsplash-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.unsplash-list li::before {
    content: "+"; /* Menggunakan tanda tambah sebagai teks */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800 !important ; /* Mengatur tebal tanda tambah */
    font-size: 24px; /* Menyesuaikan ukuran tanda tambah */
}

/* Styling for subscription options */
input[type="radio"] {
    margin-right: 10px; /* Memberikan jarak antara elemen radio */
}

input[type="radio"][value="yearly"] {
    border: 1px solid #ccc; /* Menambahkan sedikit batas pada opsi "Yearly 66% off" */
    padding: 20px ; /* Menambahkan ruang di sekitar teks */
}
.long-container {

    background-color: black;
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

}

.long-container {
    display: flex; /* Menggunakan flexbox */
}

header {
    flex: 0 0 auto; /* Header tidak fleksibel, tetap di tempatnya */
    padding: 80px;
}

.img-long-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Untuk memotong konten gambar yang melebihi panjang kontainer */
}

.img-long-container img {
    max-width: 100%; /* Menghindari gambar melebihi lebar kontainer */
    height: auto; /* Menjaga aspek rasio gambar */
    margin: 0 10px 10px 0; /* Margin antara gambar */

}

/* Atau jika ingin menggunakan grid */
.img-long-container {
    display: grid; /* Menggunakan grid */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Mengatur jumlah kolom dan lebar minimum maksimum */
    gap: 10px; /* Jarak antara gambar */
}
.triple-container {
    grid-template:
        "a a" 548px
        "b c" 657px/1fr 1fr;
        gap: 24px;

}
.short-container {
    margin-top: 50px;
    margin-inline: auto;
    max-width: 1300px;
    width: 100%;
    display: flex;
}
.short-container-1 {
    background-color: black;
    max-width: 637px;
    width: 100%;
    max-height: 657px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    grid-area: b;
    overflow: hidden;
    display: block;
    unicode-bidi: isolate;
}
.short-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    display: flex;
    transform: rotate(-5deg);
}

.image-item img {
    max-width: 100%;
    height: auto;
    transform: rotate(-5deg);
}


.switch-wrapper {
    text-align: center;
    justify-content: center;
    position: relative;
    display: inline-flex;
    padding: 4px;
    padding-right: 10px;
    padding-left: 24px;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: #f6f6f6;
    border: 1px solid brown;
  }

  .switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
  }

  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: var(--white);
  }

  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
  }

  .switch-wrapper
    [type="radio"]:checked#monthly
    + label[for="yearly"]
    ~ .highlighter {
    transform: none;
  }

  .switch-wrapper
    [type="radio"]:checked#yearly
    + label[for="monthly"]
    ~ .highlighter {
    transform: translateX(100%);
  }

  .switch-wrapper label {
    font-size: 16px;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 30px;
    color: #767676;
    transition: color 0.25s ease-in-out;
  }

  .switch-wrapper label:hover {
    color:  black;
  }

  .switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 30px;
    background: white;
    transition: transform 0.25s ease-in-out;
  }

  .card-wrapper {
    max-width: 450px;
    padding: 32px;
    padding-bottom: 16px;
    border: 1.6px solid #eee;
    border-radius: 24px;
    text-align: center;
    box-sizing: border-box;
  }

  .green-text {
    background-color: #3cb46e1a;
    border-radius: 36px;
    color: #2e9157;
    display: inline-flex;
    padding: 4px 12px; /* Adding border radius for rounded corners */
    font-size: 14px;
    line-height: 1.4285714286;
    font-weight: 500;
}
.dollar-cross, .dollar {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.0833333333;
    color: #d1d1d1;
    text-decoration: line-through;
}
.dollar {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.checkmark {
    display: flex;
    align-items: center;

}
.toggle-buttons {
    display: flex;
    justify-content: center; /* Untuk mengatur posisi di tengah */
    width: 100%; /* Sesuaikan lebar sesuai kebutuhan Anda */
    max-width: 700px; /* Maksimum lebar yang diizinkan */
    margin: 0 auto; /* Untuk membuatnya berada di tengah */


}


.toggle-buttons button {
    background-color: transparent;
    border: none;
    color: #767676;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.toggle-buttons button:hover {
    color: #111;
}

.toggle-buttons button.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.faq-header {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    display: block;
    text-align: left;
    padding: 120px;
    padding-right: 0px;
    padding-top: 20px;

}
.faq-container {

    padding-block: 120px;
    display: grid;
    margin-inline: auto;
    max-width: 100%;
    width: 100%;
    background-color: #fafafa;
    margin-top: 120px;
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Smooth transition */
}
section {
    text-align: left;
}
summary {
    font-size: 21px;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    list-style: none;

}

details {
    padding-top: 16px;
    padding-bottom: 16px;
}
