/* pricing.css */

/* Styling for the hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: black; /* Ganti dengan warna latar belakang yang diinginkan */
    color: white; /* Warna teks */
    padding: 50px; /* Spasi dalam hero-section */
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 15px;
    text-align: left;
    border-radius: 10px;
}

/* Styling for the text container */
.text-container {
    max-width: 35%; /* Lebar untuk teks */
    margin-left: 120px;
    background-color: black;
    background: linear-gradient();

}


/* Styling for the image container */
.image-container {
    position: relative;
    width: 625px; /* Set width as per your requirement */
    height: 725px; /* Set height as per your requirement */
    overflow: hidden;
    background-color: black;
    border-radius: 16px;
}

/* Styling for images */
.image {
    position: absolute;
    top: 0;
    right: 0; /* Menggeser gambar ke kanan */
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1); /* Perbaikan transisi */
}

/* Styling for active image */
.image.active {
    opacity: 1;
}
/* Styling for Unsplash-style list */
.unsplash-list {
    list-style-type: none; /* Menyembunyikan titik default */

    padding: 0;
}

.unsplash-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.unsplash-list li::before {
    content: "+"; /* Menggunakan tanda tambah sebagai teks */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800 !important ; /* Mengatur tebal tanda tambah */
    font-size: 24px; /* Menyesuaikan ukuran tanda tambah */
}

/* Styling for subscription options */
input[type="radio"] {
    margin-right: 10px; /* Memberikan jarak antara elemen radio */
}

input[type="radio"][value="yearly"] {
    border: 1px solid #ccc; /* Menambahkan sedikit batas pada opsi "Yearly 66% off" */
    padding: 20px ; /* Menambahkan ruang di sekitar teks */
}
